html {
    font-size: 2opx;
}
body{
    background-color: #09c4f3;
    color: whitesmoke;
}
table, th, tr, td, caption {
    border-collapse: collapse;
    border: 1px solid;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
  }